---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import "minima";

$sable: #3E3D41;
$cool-gray: #716B7E;

body {
  font-family: Lato, Helvetica, sans-serif;
}

.right { 
  float: right; 
}

.post-meta {
  color: $cool-gray;
}

.site-footer {
  border: none;
  padding: 30px 0 10px 0;

  .wrapper {
    border-top: 1px solid $sable;
    padding-top: 15px;
  }
}

.footer-col {
  margin-bottom: 0px;
}

.site-header {
  border: none;

  .wrapper {
    border-bottom: 1px solid $sable;
  }
}

.site-title, .site-nav {
  color: $sable;
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
}

.site-nav .page-link {
  color: $sable;
}

.post-link {
  display: inline-block;
  font-size: 20px;
  margin-right: 5px;
}

.post-list > li {
  margin-bottom: 5px;
}

.social-media-list {
  margin-bottom: 5px;
}

.footer-col-wrapper {
  margin-bottom: 5px;
}

.avatar {
  border-radius: 50%;
  display: block;
  margin: 0 35px 5px 0;
  width: 120px;
  float: left;
}

.post-image {
  display: block;
  margin: 0 auto;
}

.max-height-400 {
  max-height: 400px;
}
